* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

body {
  background-image: linear-gradient(180deg, #3a202054, #0f0f0f);
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.weather-container {
  margin: 40px 70px 30px 70px;
  padding: 2rem 5rem 5rem 5rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(180deg, #1e2121b0, #000000f5);
  flex-direction: column;
  color: floralwhite;

}

@media only screen and (max-width: 600px) {
  .weather-container {
    margin: unset;
    padding: 2rem 1rem 1rem 1rem;
    height: unset;
  }
}
@media only screen and (max-height: 543px) {
  .weather-container {
    flex-direction: row;
  }
}

.header,
.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-container {
  gap: 10px;
  width: 80%;
}

.search-container>input {
  width: 50%;
  min-width: 300px;
  height: 40px;
  border-radius: 13px;
  border: 1px solid #bfb8b8;
  padding: 5px;
}

.search-container .search-button {
  height: 40px;
  width: 90px;
  border-radius: 10px;
  border: 1px solid #bfb8b8;
  cursor: pointer;
  color: #ffffff;
  background-color: cadetblue;
}

.search-container .search-button:hover,
.unit:hover {
  border: 3px solid #aad7da;
}

.unit {
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #bfb8b8;
  cursor: pointer;
  color: #ffffff;
  background-color: cadetblue;
}

@media only screen and (max-width: 828px) {
 .unit{
  margin-top: 1rem;
 }
}


.temp-deg {
  display: flex;
  gap: 7px
}

.current-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.forcast-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

P {
  text-align: center;
}